form > div:nth-child(9) > input{
    width: 140px;
    padding: 10px 15px;
    border: 0px;
    background-color: rgb(170, 206, 155);
    border-radius: 5px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(55, 56, 103);
}

.container{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    align-items: center;
    flex-direction: column;
}

.container > h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(55, 56, 103);
    font-size: 50px;
    font-weight: 1000;
}


.backBtn{
    padding: 10px 15px;
    border: 0px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(55, 56, 103);
}