.list {
  width: 100%;
  border-collapse: collapse;
  border: 1px grey solid;
  text-align: center;
}

tr {
  background-color: rgba(55, 56, 103, 0.1);
  box-shadow: inset 0px -1px 0px #e0e0e0;
}

td {
  background-color: #ffffff;
  margin: 4px;
  box-shadow: inset 0px -1px 0px #e0e0e0;
  border: 1px;
  padding: 6px;
  gap: 16px;
}
