.container {
  width: 95%;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
  margin: 30px 0;
  color: rgb(55, 56, 103);
  font-size: 50px;
  font-weight: 1000;
}

.addProject{
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  padding: 10px;
  background: #AACE9B;
  border: 1px solid #505168;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #505168;
  cursor: pointer;
  transition-duration: 0.3s;
}

.addProject:hover {
  background-color: #FFFFFF;
  border: 1px solid #A5DE93;
}

.editButtonProject{
  padding: 10px 15px;
  border: 0px;
  background-color: rgb(170, 206, 155);
  border-radius: 5px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(56, 57, 102);
}

.modalProjectBtn{
  padding: 10px 15px;
  border: 0px;
  background-color: rgb(170, 206, 155);
  border-radius: 5px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(55, 56, 103);
}

.deleteButtonProject{
  padding: 10px 15px;
  border: 0px;
  background-color: rgb(170, 206, 155);
  border-radius: 5px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgb(55, 56, 103);
}