.container {
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.container h2{
  text-align: center;
  margin-bottom: 30px;
}

.addProject{
  padding: 10px 15px;
  border: 0px;
  background-color: rgb(170, 206, 155);
  border-radius: 5px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(80, 81, 104, 1);
}