.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 57px;
  line-height: 67px;
  color: #373867;
}

.buttonAdd,
.buttonForm {
  display: flex;
  flex-direction: row;
  height: 37px;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 14px 36px;
  gap: 10px;
  background: #aace9b;
  border: 1px solid #505168;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #505168;
  cursor: pointer;
  transition-duration: 0.3s;
}
.buttonForm {
  margin-left: 0px;
}
.buttonAdd:hover,
.buttonForm:hover {
  background-color: white;
  border: 2px solid #aace9b;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.inputDescription,
.inputWorkedHours {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
