/* .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    border-radius: 4px;
    background-color: #fff;
}

.button {
    margin: 20px;
    height: 56px;
    border: none;
    padding: 0 20px;
    background: #fdc800;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.cancel {
    background-color: gray;
} */