.tableRow {
    width: 600px;
    background: #FFFFFF;
    box-shadow: inset 0px -1.2301px 0px #E0E0E0;
}

.tableRow td {
    text-align: center;
}

.editButton {
    display: inline-block;
    padding: 5px 10px;
	background: #AACE9B;
	border-radius: 5px;
	border: 1px solid #AACE9B;
    color: #ffffff;
	font-size: 12px;
    cursor: pointer;
}

.deleteButton {
    display: inline-block;
    padding: 5px 10px;
	background: none;
	border: 0;
	font-size: 12px;
    cursor: pointer;
} 