.container {
  width: 90%;
  border-collapse: collapse;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
  border-radius: 2px solid #373867;
}

.buttonAdd {
  display: flex;
  width: 100%;
  margin: 2%;
  justify-content: center;
  transition-duration: 0.3s;
}

.buttonAdd:hover {
  background-color: #FFFFFF;
  border: 1px solid #A5DE93;
}

.stylesModalBtn, .deleteModalBtn {
  width: 110px;
  height: 50px;
  margin: 0 20px;
  padding: 10px 24px;
  background: #aace9b;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  transition-duration: 0.3s;
}
.deleteBtn {
  background-color: white;
  margin: 0px;
}

.stylesModalBtn:hover {
  background-color: white;
  border: 1px solid #A5DE93;
}

.stylesBtn {
  width: 60px;
  height: 30px;
  margin: 5px;
  padding: 0;
  background: #aace9b;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  transition-duration: 0.3s;
}

.deleteBtn:hover {
  background-color: white;
  border: 1px solid #A5DE93;
}

.stylesBtn:hover {
  background-color: white;
  border: 1px solid #A5DE93;
}

.deleteModalBtn {
  background-color: white;
}

.deleteModalBtn:hover {
  background-color: rgb(255, 255, 255);
  background-color: white;
  border: 1px solid #A5DE93;
}

.container > table {
  width: 100%;
  flex-direction: column;
  border: 1px solid lightgray;
  text-align: center;
}

thead {
  border: 1px solid lightgray;
  width: 120px;
  height: 50px;
  text-transform: capitalize;
}

.tableCell {
  flex: 4 120px;
  border: 1px solid lightgray;
  background-color: #A5DE93;
  color: #000000;
  font-family: 'Arial';
  max-width: 120px;
  height: 30px;
  padding: 10px;
}

.tableCellButtons {
  flex-direction: row;
  border: 1px solid lightgray;
  background-color: #A5DE93;
  color: #000000;
  font-family: 'Arial';
  max-width: 40px;
  min-width: 40px;
  height: 30px;
  flex: 1 40px;
  margin: 0 5px;
}

.tableNames {
  flex: 4 120px;
  max-width: 120px;
  height: 50px;
  border: 1px solid lightgray;
  font-family: 'Arial';
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 10px;
}

.container > table {
  border-collapse: collapse;
}

.data {
  flex: 1 70px;
  text-align: left;
  padding: 5px;
}

.buttonTd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex: 1 140px;
  min-width: 140px;
  max-width: 140px;
}