.container {
  width: 55%;
  padding-top: 10px;
  margin-bottom: 30px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stylesBtn {
  width: 60px;
  height: 30px;
  margin: 30px;
  padding: 0;
  background: #AACE9B;
  border: 1px solid #505168;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #505168;
  cursor: pointer;
}

.cancelBtn {
  width: 110px;
  height: 50px;
  margin: 0 20px;
  padding: 10px 24px;
  background: #fff;
  border: 1px solid #505168;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #505168;
  cursor: pointer;
}

.confirmBtn {
  width: 110px;
  height: 50px;
  margin: 0 20px;
  padding: 10px 24px;
  background: #AACE9B;
  border: 1px solid #505168;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #505168;
  cursor: pointer;
}

.title {
  margin: 35px 0;
  text-align: center;
  color: #373867;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 35px;
}

.title {
  color: #373867;
  font-size: xx-large;
  font-weight: 700;
  margin: 30px 0;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 310px;
  height: 80px;
}

.label {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  height: 37px;
  padding: 10px 12px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 4px;
}

.timesheetButton{
  margin: 0 20px;
  align-self: flex-start;
  width: 130px;
  height: 50px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}

.returnTimesheetBtn {
  background: #eee;
  margin: 0 20px;
  align-self: flex-start;
  width: 130px;
  height: 50px;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}

.modalTimesheetBtnNone {
  display: none;
}

.modalTimesheetBtn {
  /* justify-content: center; */
  align-self: center;
  width: 170px;
  height: 50px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}
