.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin-top: 10px;
}

.addBtn {
  margin: 15px 0;
  padding: 10px 24px;
  background: #AACE9B;
  border: 1px solid #505168;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  color: #505168;
  cursor: pointer;
}

.editBtn {
  display: inline-block;
  padding: 5px 10px;
  background: #AACE9B;
  border-radius: 5px;
  border: 1px solid #AACE9B;
  color: #ffffff;
  font-size: 12px;
  cursor: pointer;
}

.deleteBtn {
  display: inline-block;
  padding: 5px 10px;
  background: none;
  border: 0;
  font-size: 12px;
  cursor: pointer;
}