.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  padding-top: 10px;
}

.title {
  color: #003459;
  font-size: xx-large;
  font-weight: 700;
  margin-top: 10px;
}

.titleTwo {
  color: #003459;
  font-size: xx-large;
  font-weight: 800;
  text-align: center;
  margin: 15px;
}

.logoContainer {
  margin-bottom: 40px;
  margin-top: -50px;
}

.formAdd {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.containerBtn {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.employeeBtnEdit {
  align-self: flex-start;
  width: 130px;
  height: 50px;
  margin: 20px;
  background: #00A7E1;
  border: 1px solid #00171F;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #00171F;
  cursor: pointer;
  transition-duration: 0.3s;
}

.employeeBtnEdit:hover {
  background-color: #007EA7;
}

form > div > button:nth-child(2) {
  align-self: flex-start;
  width: 130px;
  height: 50px;
  margin: 20px;
  background: #ffffff;
  border: 1px solid #00171F;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #00171F;
  cursor: pointer;
  transition-duration: 0.3s;
}

form > div > button:nth-child(2):hover {
  background-color: #A3A3A3;
}

.addEmployeeBtn {
  width: 130px;
  height: 50px;
  margin-top: 20px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}

.addEmployeeBtn:hover {
  background-color: #ffffff;
  border: 1px solid #a5de93;
}

.returnEmployeeBtn {
  position: absolute;
  align-self: flex-start;
  width: 170px;
  height: 50px;
  margin-left: 175px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}

.modalEmployeeBtnNone {
  display: none;
}

.modalEmployeeBtn:nth-child(1) {
  margin: 5px;
  width: 120px;
  height: 50px;
  background: #00A7E1;
  border: 2px solid #00171F;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #00171F;
  cursor: pointer;
}

.modalEmployeeBtn:nth-child(2) {
  margin: 5px;
  width: 120px;
  height: 50px;
  background: #ffffff;
  border: 2px solid #00171F;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #00171F;
  cursor: pointer;
}

.modalWrapper > div:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}