.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  padding-top: 10px;
}

.title {
  color: #373867;
  font-family: 'Arial';
  width: 280px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
}

.formAdd {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}

.containerBtn {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.employeeBtnEdit {
  align-self: flex-start;
  width: 110px;
  height: 50px;
  margin: 30px 0px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #505168;
  cursor: pointer;
  transition-duration: 0.3s;
}

.addEmployeeBtn {
  align-self: center;
  width: 130px;
  height: 50px;
  margin-top: 20px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}

.addEmployeeBtn:hover {
  background-color: #FFFFFF;
  border: 1px solid #A5DE93;
}

.returnEmployeeBtn {
  position: absolute;
  align-self: flex-start;
  width: 170px;
  height: 50px;
  margin-left: 175px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}

.modalEmployeeBtnNone {
  display: none;
}

.modalEmployeeBtn {
  align-self: center;
  width: 150px;
  height: 50px;
  margin: 10px 20px;
  background: #aace9b;
  border: 1px solid #373867;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  color: #373867;
  cursor: pointer;
}
