.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #ECE5F0;
}

.main {
  display: flex;
  flex-direction: row;
}

.contentContainer {
  display: flex;
}
