.flexConteiner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.myModal{
  background-color: #fff;
  border-radius: 7px;
  padding: 10px 35px 35px;
}