.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
}
.rowConteiner{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 15px;
  max-width: 1150px;
}
.buttonRow {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}
.navButton {
  border: 3px solid #aace9b;
  border-radius: 20px;
  background-color: #aace9b;
  font-size: 2rem;
  font-weight: 600;
  width: 250px;
  height: 80px;
  margin: 20px;
  transition-duration: 0.3s;
}
.navButton:hover {
  background-color: white;
}