*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.whiteBackground{
  background-color: #fff;
}

.logo{
  padding: 0 150px;
  margin: 30px;
  text-align: center;
}

.container{
  display: flex;
  flex-direction: column;
  padding: 0 150px;
}

.trackgenix{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 30px 0;
}
.trackgenix img{
  flex: 1;
  width: 80%;
  height: 60vh;
  min-width: 350px;
}
.trackgenix p{
  flex: 1;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 700;
}

.assets{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.assetsCard{
  background-color: #E9E9E9 ;
  border-radius: 10px;
  padding: 8px;
  margin: 2% 4%;
  align-self: center;
  width: 65%;
  height: 30vh;
}

.cardManagementStyle {
  background-color: #E9E9E9 ;
  border-radius: 10px;
  padding: 8px;
  margin: 2% 4%;
  align-self: center;
  width: 65%;
  height: 30vh;
}

.assetsCard img{
  size: fit-content;
  width: 100%;
}

.assetsCardManagement img {
  size: fit-content;
  width: 100%;
}

.assetsCard p{
  font-weight: 700;
  font-size: 2rem;
}

.assetsCardManagement p {
    font-weight: 700;
    font-size: 2rem;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  font-size: 2rem;
  text-align: center;
}

.cards div{
  width: 90%;
  margin-bottom: 30px;
}

.cards h2{
  font-size: 3.5rem;
  margin-bottom: 10px;
  width: 100%;
}

.cards li{
  margin-left: 18px;
}

.about{
  background-color: #E9E9E9 ;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px;
}

.about h2 {
  font-weight: 700;
  font-size: 3rem;
}

.about h4 {
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 1.5rem;
  color: #404040;
}

.aboutContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 15px 0px;
  align-items: center;
  justify-content: space-between;
}

.aboutContainer p {
  font-size: 1.3rem;
}

.aboutContainer img {
  margin: 10px 30px;
  width: 100%;
  height: 20vh;
}

.extra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #49A37B;
  color: #dbdbdb;
}

.extra h3{
  color: #000000;
  font-size: 3rem;
}

.extra li{
  font-size: 2rem;
}

.whiteBackground
.verticalLine{
  height: 85px;
  border-radius: 4px;
  width: 1.5px;
  background-color: #404040;
}

@media screen and (min-width: 380px) {
  .assetsCard {
    width: 40%;
    height: 20vh;
  }

  .assetsCardManagement {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
  }

  .cardManagementStyle {
    width: 40%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .assetsCardManagement p {
    font-size: 1.5rem;
  }

  .assetsCardManagement img {
    width: 150px;
    height: 15vh;
  }

  .assetsCard p {
    font-size: 1.5rem;
  }

  .aboutContainer {
    padding: 20px;
  }

  .aboutContainer img {
    margin: 0;
    width: 150px;
    height: 30vh;
  }

  .aboutContainer p{
    width: 40%;
    font-size: 1.1rem;
  }

  .extra{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .extra h3{
    font-size: 25px;
  }

  .extra li{
    font-size: 18px;
  }
}
