.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
}

.title {
    margin-bottom: 15%;
    align-self: center;
}

.inputsColumns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputsColumns > Input {
    width: 45%;
}

.loginButton{
    margin: 0;
    align-self: center;
    width: 130px;
    height: 50px;
    background: #aace9b;
    border: 1px solid #373867;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #373867;
    cursor: pointer;
}

.loginButton:hover {
    background-color: white;
    border: 1px solid #A5DE93;
}