.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
}

.title {
    margin-top: 50px;
    margin-bottom: 15%;
    align-self: center;
    font-size: xx-large;
    color: #003459;
}

.inputsColumns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputsColumns > Input {
    width: 45%;
}

.loginBtn {
    display: flex;
    justify-content: center;
}

.loginButton {
    margin-top: 15px;
    align-self: center;
    justify-content: center;
    width: 130px;
    height: 50px;
    background: #00A7E1;
    border: 1px solid #00171F;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #00171F;
    cursor: pointer;
    transition-duration: 0.3s;
}

.loginButton:hover {
    background-color: #007EA7;
}