.buttonStyle{
  margin: 10px 0 10px 0;
  padding: 10px 15px;
  border: 2px rgba(80, 81, 104, 1) solid;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: rgba(80, 81, 104, 1);
}